/* HeroDetailComponent's private CSS styles */
label {
  color: #435960;
  font-weight: bold;
}

input {
  font-size: 1em;
  padding: 0.5rem;
}

button {
  padding: 1rem;
  text-decoration: none;
  border: none;
  margin-top: 10px;
  margin-right: 5px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  font-size: 1rem;
}

button:hover {
  color: white;
  background-color: #42545c;
}
